
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Comfortaa:wght@300;400;500;600;700&family=Work+Sans:ital,wght@0,200;0,400;0,700;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-weight: 700; */
    /* font-family: 'Work Sans', sans-serif; */
    /* font-size: 1rem; */
    font-family: 'Comfortaa', cursive;


}
html {
    scroll-behavior: smooth;
    /* color: white; */
}

.movie-details{
    border: 3px solid rebeccapurple;
}
.movie-details h1{
    border: 3px solid rgb(253, 236, 81);
}
.movie-details-content{
    border: 3px solid red;
}
.more-like-this-heading{
    border:3px solid red;
}
.more-like-this-wrapper{
    border: 4px solid darkblue;
}